@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');


:root{
    --primary-color: #22d3ee;
    --dark-grey: #f1f5f9;
}
body {
    font-family: 'Open Sans', sans-serif;
    text-align: center;
    background-color: var(--dark-grey);
    margin-top: 10rem;
} 

#btn {
    display: block;
    padding: 0.5rem 2rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    background-color: var(--primary-color);
    color: white;
}

#setup {
    border: 1px solid var(--primary-color);
    height: 10vh;
    width: 30%;
    padding:1rem;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
}
#punchline {
    border: 1px solid var(--primary-color);
    height: 10vh;
    width: 30%;
    padding:1rem;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
}
h1 {
    color:var(--primary-color);
}
span {
    color: var(--primary-color);
}
.muskaan {
    color: white;
    background-color: var(--primary-color);
    border-radius: 10rem;
    padding:0.4rem 0.2rem;
    padding-bottom: 0.2rem;
}
