@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
    font-family: 'Open Sans', sans-serif;
} 

#btn {
    display: block;
    padding: 0.5rem 2rem;
    margin: auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

#setup {
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    padding:1rem;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
}
#punchline {
    border: 1px solid black;
    height: 10vh;
    width: 50%;
    padding:1rem;
    margin:auto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-radius: 1rem;
    background-color: white;
    text-align: center;
}

